/* line 81, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/scaffolding.less */
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
/* line 309, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/forms.less */
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 313, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/forms.less */
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
/* line 124, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/buttons.less */
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
/* line 128, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/buttons.less */
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 132, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/buttons.less */
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* line 14, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/mixins/clearfix.less */
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
/* line 19, /Users/homa/gitProject/flickr-cc-photo-search/app/bower_components/bootstrap/less/mixins/clearfix.less */
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
/* line 17, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
html,
body {
  height: 100%;
}
/* line 22, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
body {
  font-family: 'Anaheim';
  font-size: 17px;
  background-color: #f0f0f0;
  text-align: center;
}
/* line 29, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
h1 {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 167%;
  font-weight: 300;
  line-height: 120%;
}
/* line 40, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.form-container {
  max-width: 500px;
  margin: 0 auto;
}
/* line 45, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
input[type="text"],
button {
  border-radius: 0 !important;
  background-clip: padding-box !important;
  width: 100%;
  padding: 5px;
  border: 0px;
  outline: none !important;
  box-shadow: none !important;
  height: 40px;
}
/* line 56, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.btn-primary {
  background-color: #14c1cc;
  border-color: #13b8c3;
}
/* line 61, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.btn-primary:hover,
.btn-primary:active {
  background-color: #13b8c3;
  border: none;
}
/* line 71, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
  text-align: center;
  padding: 5px;
}
/* line 78, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.header a {
  color: none;
  text-decoration: none;
}
/* line 83, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.logo-thick {
  font-weight: 700;
  font-size: 170%;
  color: #000000;
}
/* line 89, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.logo-thin {
  font-weight: 300;
  color: #14c1cc;
  font-size: 170%;
}
/* line 99, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.picturesWrapper {
  position: absolute;
  top: 100px;
  bottom: 40px;
  right: 0px;
  left: 0px;
  overflow-y: scroll;
}
/* line 108, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.loadMoreButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
/* line 115, /Users/homa/gitProject/flickr-cc-photo-search/app/styles/main.less */
.thumb {
  vertical-align: inherit;
}
